<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kya Bolti Company?</title>
</head>
<body>
    <h1>Submit a Song URL:</h1>
    <form action="/submit" method="post">
        <label for="song_url">Song URL:</label><br>
        <input type="text" id="song_url" name="song_url" style="width: 400px; height: 40px; font-size: 16px;"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
